/********************************************** ALL USED IN HOME PAGE ********************************************************************************/

body{
    justify-content: center;
    overflow-y: scroll;
    background-color: rgb(199, 163, 85);
    background-image: url('kastrohome.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-light{
    height: 100px
}

h1{
    color:rgb(107, 107, 107);
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', 'Times', 'serif';
}


.book {
    border-radius: 0ch;
    background-image:url('kinsternaBOOK.jpg');
    background-size:cover;
    background-position: center;
    padding: 160px 220px;
    color: ivory;
    cursor: pointer;
    display: grid;
    position: absolute;
    left: 100px;
    top: 1100px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0,0,0,0.19);
}

.book:hover{
    overflow: hidden;
    transition: transform .8s ease;
    transform: scale(1.05);
}

.sign {
    border-radius: 0ch;
    background-image:url('kinsternaSIGN.jpg');
    background-size:cover;
    background-position: center;
    padding: 160px 220px;
    color: ivory;
    cursor: pointer;
    display: grid;
    position: absolute;
    left: 700px;
    top: 1100px;
    box-shadow: 0 25px 25px 0 rgba(0, 0, 0, 0.2), 0 25px 25px 0 rgba(0,0,0,0.19);
}

.sign:hover{
    overflow: hidden;
    transition: transform .8s ease;
    transform: scale(1.05);
}

.white{
    width:100%;
    height: 600px;
    background-image: url('white2.jpg');
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 1000px;
}

.hotel{
    display: flex;
    position: absolute;
    top:1020px;
    left:20px;
    height:50px;
}

@keyframes bounceAlpha {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.hotel:hover {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.top{
    width: 100%;
    height: 90px;
    background-image: url('white2.jpg');
    background-repeat: repeat;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 0px;
}

.toplogo{
    width: 35%;
    height: 130px;
    background-image: url('logoblack.png');
    position: absolute;
    background-repeat: no-repeat;
    left: 700px;
    top: -40px;
}



/********************************************** ALL USED IN HOME PAGE ********************************************************************************/

/********************************************** BOOKING *********************************************************************************************/

input[type=text][id="fname"]{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text][id="lname"]{
    position: absolute;
    left: 100px;
    top: 300px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text][id="arrival"]{
    position: absolute;
    left: 700px;
    top: 200px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text][id="leave"]{
    position: absolute;
    left: 700px;
    top: 300px;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    position: absolute;
    left: 700px;
    top: 400px;
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select{
    position: absolute;
    left: 100px;
    top: 410px;
    width: 30%;
    background-color: #d1ba6c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
}

/********************************************** BOOKING *********************************************************************************************/

/************************* SCROLL ************************************/
.arrows {
	width: 60px;
	height: 80px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #f8c27bea;
	fill: transparent;
	stroke-width: 7px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

@-webkit-keyframes arrow 
{
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
}

.arrows path.a1 {
	 animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}